# H1: Data Science Tools and Ecosystem

## In this notebook, data science tools and ecosystem are summarised

## H2: Some of the popular lanaguages Data Scientists use are
1. Java
2. R
3. C
4. Python

## Some of the commonly used libraries data scientists use are
1. Pandas
2. Scikit-learn
3. Matplotlib
4. TensorFlow
5. Plotly

## H1: Data Science Tools

Sl No | Data Science Tools |
------|--------------------|
1 | Tableau |
2 | Apache Spark|
3 | Apache Hadoop|

## H3: Below are few examples of arithmetic expressions in python 

2+2*(4+3)

In [5]:
(3*4)+5
## Above are few examples of evaluating arithmetic expressions in python

17

In [6]:
## H3: This will convert minutes into hours
## This will convert 200 minutes into hours byh dividing by 60
200/60

3.3333333333333335

## Objectives
## List Popular languages for Data Science
- Java
- C
- R
- C++
- C

## H2: AUTHOR
       TRIDIB ROY